<div class="CoverPhoto">
	<%= image_tag("about_us.jpg", :alt => "About us cover photo") %>
</div>

<p>
	Coffee Stains aims to bring the most imaginative minds to a common platform where in the company of eachother, writers can thrive and grow. At Coffee Stains, we have established an environment that fuels the drive and focus of a writer at work, a place where procrastination has no place and magic is created!
	
</p>