<div class="top_bar clearfix">

	<button>Suggestions Board</button>
	<button>Story Board</button>
	<button>Writers</button>
	<button>Store</button>

	<button><%= current_user.username %></button>
	<%= link_to "Log out", destroy_user_session_path, method: :delete %>

</div>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>