<div class="top_bar clearfix">

	<button>Suggestions Board</button>
	<button>Story Board</button>
	<button>Writers</button>
	<button>Store</button>

	<div class="btn-group">
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <%= current_user.username %> <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
	    <li><a href="#">My Profile</a></li>
	    <li><a href="#">My Writing Desk</a></li>

	    <li role="separator" class="divider"></li>
	    <%= link_to "Log out", destroy_user_session_path, method: :delete %>
	  </ul>
	</div>


	

</div>

