<!-- <p id="notice"><%#= notice %></p> What's this for? -->
<!-- <button><%#= current_user.username %></button> -->

<h1>Welcome to Coffee Stains</h1>
<p> A place where procrastination ends and the magic begins! </p>
