<!DOCTYPE html>
<html>
<head>
	<title>Coffee Stains</title>
</head>

<body class="welcome-body">

	<h1 class="welcome-Text1" > Welcome to Coffee Stains </h1>
	<div class='login'>
	  <% if current_user %>

	  <% else %>
	     <%= link_to "Sign In", new_user_session_path, class: "btn btn-default" %>
	     <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %>
	  <% end %>
	</div>

</body>
</html>

	