<!DOCTYPE html>
<html>
<head>
  <title>Story Board</title>
</head>


<body>
<h1>Story Board</h1>



  <div>

    <% @stories.each do |story| %>

        
        <img class="img-rounded" <%= image_tag story.image.detail.url %> ></img>
        <p><%= story.title %></p>
        <td><%= story.summary %></td>
        <p><%= story.user.name %></p>
        

    <% end %>

  </div>

</body>
</html>