.storyboard-body {
	background-image: url('bg.jpg');
}

nav.navbar.navbar-default {
	margin: 0 auto;
	margin-top: 5%
}

.box {
	margin-top: 20px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
     border-color: white !important;
     margin: 20px !important
}

.navbar-default .navbar-nav {
	padding-left: 150px;
	padding-top: 10px;
}
.navbar-default .navbar-nav > li > a{
	margin: 0px 30px; 
}

#username-link-div {
	margin-left: 120px;
	margin-top: 15px;
	background-color: white !important
}

a:visited {
	color: black;
}

a:hover {
	background-color: none !important
}

.storyboard-img {
	width: 120px;
	height: 180px;
}

#storyboard-storyTitle {
	font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding-top: 20px;
}
#storyboard-storyAuthor {
	font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #513B56;
}

#new-story-body {
	background-image: url('bg.jpg');
}

#new-story-box {
	width: 100%;
	height: 50%;
	margin: 10px, 10px, 10px, 10px;
	background-color: rgba(255, 255, 255, 0.8);
}
.title > input {
	width: 400px;
	/*background-color: black;*/
	/*color: white;*/
}

.summary > textarea {
	width: 610px;
	height: 100px;
	/*background-color: black;*/
	/*color: white;*/
}

.content > textarea {
	width: 1200px;
	height: 300px;
	/*background-color: black;*/
	/*color: white;*/
}

.save-story > input {
	background-color: #513B56 !important;
	margin-left: 0px !important;
	margin-top: 0px !important;
}

#edit-story-body {
	background-image: url('bg.jpg');
}

.story-title {
	color: white;
	/*background-color: #B28272;*/
	background-image: url(bg.jpg);
	padding: 20px;
	margin: 10px;
}

#summary-container {
	color: #8D99AE;
	padding: 20px;
	margin: 10px;
}

#content-container {
	padding: 20px;
	margin: 10px;
}

#second > link {
	float: right;
}

#caption-container > #edit-story-button  {
	float: right;
	margin-left: 800px;
	margin-right: 6px;
	background-color: white !important
}

.story-delete-link > a {
	color: blue;
}