/*Welcome Page + Layout/Appl Welcome*/
.welcome-body {
	background: url("/assets/New-back.png") repeat;
	background-size: cover;
}

.welcome-Text1 {
	font-family: Yuppy SC;
	color: brown;
	font-size: 75px;
	text-align: center;
	line-height: 250px;
}

.login {
	text-align: center;
}

.main-logo img {
	width: 200px;
}






/*GLOBAL BANNER*/
.banner {
	background-color: #FE5F55;
}

.banner-buttons {
	width: 150px;
	height: 50px;
	margin: 30px;
	background-color: #FF9F99;
	font-family: Yuppy SC;
	font-size: 20px;
}

.dropdown-toggle {
	width: 150px;
	/*height: 50px;*/
	margin: 30px;
	/*	color: #FF9F99;*/
	font-family: Yuppy SC;
	font-size: 20px;
}

.dropdown-menu {
	width: 150px;
	background-color: rgba(255,255,255,0.5)!important;
	/*height: 50px;*/
	margin: 30px;
	/*	color: #FF9F99;*/
	font-family: Yuppy SC;
	font-size: 20px;
}


.sign-in-menu-container {
	height: 400px;
	width: 400px;
}




/*STORY BOARD*/
.str-brd-hdn {
	text-align: center;
	font-family: Yuppy SC;
	font-size: 45px;
}

.brd-txt {
	width: 150px;
	font-size: 20px;
	font-family: Yuppy SC;
	margin: 20px;
	background: url("/assets/Str-brd-bg.png")
}

.str-brd-cnt {
	float: left;
}

.str-brd-bdy {
	background: #06E0B3;
	background-size: cover;
}


/*WRITER*/
.wtr-brd-bdy {
	background: url("/assets/1.png") repeat;
	background-size: cover;
}

/*PROFILE*/
.prf-txt {
	width: 200px;
	font-size: 20px;
	color: white;
	font-family: Yuppy SC;
	margin: 20px;
	text-align: center;
}

/*.Snippet-container {
	width: 150px;
	font-size: 20px;
	font-family: Yuppy SC;
	margin: 20px;
}*/

.prf-bdy {
	background: url("/assets/62.jpg") repeat;
	background-size: cover;
}

.prf-str-txt {
	width: 200px;
	font-size: 20px;
	color: white;
	font-family: Yuppy SC;
	margin: 20px;
	text-align: center;
}

.CoverPhoto {
	width: 50%;
}

/*ABOUT US*/

.abt-us-txt {
	width: 1000px;
	font-size: 50px;
	color: brown;
	font-family: Yuppy SC;
	line-height: 50px;
}