/*Welcome Page + Layout/Appl Welcome*/

.welcome-body {
	background: url("/assets/New-back.png") repeat;
	background-size: cover;
}

.welcome-Text1 {
	font-family: Yuppy SC;
	color: brown;
	font-size: 75px;
	text-align: center;
	line-height: 250px;
}

.login {
	text-align: center;
}

.main-logo img {
	width: 200px;
}

.banner {
	background-color: #FE5F55;
}

.banner-buttons {
	width: 100px;
	height: 50px;
	margin: 30px;
	
}

.sign-in-menu-container {
	height: 400px;
	width: 400px;
}
/*
.about-us-bkg {
	background: url("/assets/Typewriter.jpg") repeat;
	background-size: cover;
}

.about-us-text {
	font-family: Yuppy SC;
	font-size: 40px;
	color: white;
}
*/

.str-brd-hdn {
	text-align: center;
	font-family: Yuppy SC;
	font-size: 45px;
}

.str-brd-txt {
	width: 150px;
	font-size: 20px;
	font-family: Yuppy SC;
	margin: 20px;
	background: url("/assets/Str-brd-bg.png")
}

.str-brd-cnt {
	float: left;
}

.str-brd-bdy {
	background: #06E0B3;
	background-size: cover;
}