#writers-body {
	background-image: url(bg.jpg);
}

.writers-img {
	width: 200px;
	height: 200px;
} 


#writers-storyAuthor {
	font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	font-size: 15px;
	padding-top: 20px;
	color: #513B56;
}