@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic);

.welcome-body {
	background: url("/assets/New-back.png") repeat;
	background-size: cover;
}

#wlcm-caption {
	color: #513B56 !important;
	margin-top: 10% !important;
}

.login {
	margin-top: 3% !important;
}

.signup {
	margin-top: 3% !important;
	margin-left: 35%
}

.new_user {
	background-color: rgba(81, 59, 86, 0.7);
	padding: 30px;
	width: 45%;
}

.field {
	padding-left: 20%;
}

#box {
	width: 400px;
}

#row {
	margin-left: 35%
}