@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

.welcome-body {
	background: url("/assets/New-back.png") repeat;
	background-size: cover;
}

.welcome-Text1 {
	font-family: 'Indie Flower', cursive;
	color: brown;
	font-size: 75px;
	text-align: center;
	line-height: 250px;
}
